<div class="card">
    <div class="d-flex justify-content-center card-header">
        <p>{{post.title}}</p>
    </div>
    <div class="class-body">
        <p>{{post.content}}</p>
        <p>Post By: {{post.user.username}}</p>
    </div>
</div>
<br>

{{#each post.comments as |comment|}}
<div class="card">
    <div class="card-body">
        <p>{{comment.user.username}}</p>
        <p>{{comment.content}}</p>
    </div>
</div>
<br>
{{/each}}

{{#if loggedIn}}
    <form class="form" id="comment-form">
        <div class="form-group">
            <label for="new-comment">Comment: </label>
            <input class="form-input" type="text" id="new-comment"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Comment</button>
        </div>
    </form>
{{/if}}

<script src="../js/comment.js"></script>